# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
importFrom("distillery", ci, print.ci, datagrabber, distill)
importFrom("maps", map, map.axes)
importFrom("boot", boot, tsboot, boot.ci)
importFrom("CircStats", circ.plot, rad, rose.diag, circ.summary)
importFrom("fastcluster", hclust, hclust.vector)
importFrom("graphics", "locator")
importFrom("waveslim", dwt, dwt.2d, idwt, idwt.2d, modwt, modwt.2d, imodwt, imodwt.2d, plot.dwt.2d, denoise.dwt.2d, denoise.modwt.2d)
importFrom("graphics", "polygon")

importFrom("grDevices", "gray", "heat.colors", "rainbow")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "box",
             "boxplot", "bxp", "contour", "grid", "hist", "image",
             "layout", "legend", "lines", "matplot", "mtext", "par",
             "plot", "points", "text", "title")
importFrom("stats", "cor", "cor.test", "cov", "cutree", "dist", "fft",
             "kmeans", "lm", "median", "nlminb", "optim", "pnorm",
             "predict", "pt", "qnorm", "qqplot", "qt", "quantile", "rnorm", "runif",
             "sd", "var")

import(
fields,smoothie,spatstat.geom,spatstat.core,spatstat.linnet,spatstat,smatr,turboEM
)

S3method(ACC, SpatialVx)
S3method(ACC, default)
S3method(Aindex, SpatialVx)
S3method(Aindex, default)
S3method(CSIsamples, SpatialVx)
S3method(CSIsamples, default)
S3method(Cindex, SpatialVx)
S3method(Cindex, default)
S3method(FeatureMatchAnalyzer, matched)
S3method(FeatureMatchAnalyzer, matched.centmatch)
S3method(FeatureMatchAnalyzer, matched.deltamm)
S3method(OF, SpatialVx)
S3method(OF, default)
S3method(S1, SpatialVx)
S3method(S1, default)
S3method(Sindex, SpatialVx)
S3method(Sindex, default)
S3method(clusterer, SpatialVx)
S3method(clusterer, default)
S3method(compositer, combined)
S3method(compositer, features)
S3method(compositer, matched)
S3method(gmm2d, SpatialVx)
S3method(gmm2d, default)
S3method(hist, OF)
S3method(hist, SpatialVx)
S3method(imomenter, im)
S3method(imomenter, matrix)
S3method(locmeasures2d, SpatialVx)
S3method(locmeasures2d, default)
S3method(metrV, SpatialVx)
S3method(metrV, default)
S3method(mowaverify2d, SpatialVx)
S3method(mowaverify2d, default)
S3method(plot, CSIsamples)
S3method(plot, EBS)
S3method(plot, FeatureAxis)
S3method(plot, FeatureMatchAnalyzer)
S3method(plot, LocSig)
S3method(plot, OF)
S3method(plot, SpatialVx)
S3method(plot, SpatialVxMap)
S3method(plot, SpatialVxNoMap)
S3method(plot, clusterer)
S3method(plot, composited)
S3method(plot, features)
S3method(plot, gmm2d)
S3method(plot, griddedVgram)
S3method(plot, hiw)
S3method(plot, hoods2d)
S3method(plot, matched)
S3method(plot, matchedMap)
S3method(plot, matchedNoMap)
S3method(plot, pphindcast2d)
S3method(plot, rigided)
S3method(plot, saller)
S3method(plot, lossdiff)
S3method(plot, spatbiasFS)
S3method(plot, structurogram)
S3method(plot, structurogram.matrix)
S3method(plot, summary.CSIsamples)
S3method(plot, summary.clusterer)
S3method(plot, summary.features)
S3method(plot, upscale2d)
S3method(plot, variographied)
S3method(plot, waveIS)
S3method(plot, wavePurifyVx)
S3method(plot, waverify2d)
S3method(predict, gmm2d)
S3method(predict, flossdiff.expvg)
S3method(print, CSIsamples)
S3method(print, FeatureMatchAnalyzer)
S3method(print, FeatureTable)
S3method(print, flossdiff.expvg)
S3method(print, Gbeta)
S3method(print, GbetaIL)
S3method(print, G2IL)
S3method(print, OF)
S3method(print, SpatialVx)
S3method(print, clusterer)
S3method(print, features)
S3method(print, fqi)
S3method(print, gmm2d)
S3method(print, hiw)
S3method(print, hoods2d)
S3method(print, imomented)
S3method(print, interester)
S3method(print, locmeasures2d)
S3method(print, matched)
S3method(print, metrV)
S3method(print, pphindcast2d)
S3method(print, rigided)
S3method(print, saller)
S3method(print, lossdiff)
S3method(print, summary.interester)
S3method(print, upscale2d)
S3method(print, variographied)
S3method(print, waverify2d)
S3method(lossdiff, SpatialVx)
S3method(lossdiff, default)
S3method(summary, CSIsamples)
S3method(summary, FeatureAxis)
S3method(summary, FeatureMatchAnalyzer)
S3method(summary, FeatureTable)
S3method(summary, OF)
S3method(summary, SpatialVx)
S3method(summary, clusterer)
S3method(summary, features)
S3method(summary, fqi)
S3method(summary, gmm2d)
S3method(summary, hiw)
S3method(summary, interester)
S3method(summary, locmeasures2d)
S3method(summary, matched)
S3method(summary, rigided)
S3method(summary, saller)
S3method(summary, lossdiff)
S3method(summary, spatbiasFS)
S3method(summary, waveIS)
S3method(summary, wavePurifyVx)
S3method(thresholder, default)
S3method(thresholder, SpatialVx)
S3method(variographier, default)
S3method(variographier, SpatialVx)
S3method(waverify2d, SpatialVx)
S3method(waverify2d, default)
S3method(waveIS, default)
S3method(waveIS, SpatialVx)
S3method(wavePurifyVx, default)
S3method(wavePurifyVx, SpatialVx)
S3method(plot, wavePurifyVxFieldsMap)
S3method(plot, wavePurifyVxFieldsNoMap)
S3method(plot, wavePurifyVxStats)
S3method(plot, iwarped)
S3method(plot, warped)
S3method(plot, warped.lonlat)
S3method(print, warped)
S3method(summary, iwarped)
S3method(summary, warped)
