# Export regular functions
export("K2w")

# imports
import(spatstat.geom,spatstat.core,spatstat.linnet)
importFrom(spatstat.utils, short.deparse)
# ToDo: "importFrom" only required functions 

## Registration of S3 methods
import(stats)
import(graphics)
S3method(print, k2w)
S3method(plot, k2w)
