useDynLib(globalKinhom)
import(spatstat.geom,spatstat.core,spatstat.linnet)

importFrom(stats, approx, density, pnorm, runif, sd, var, rnorm)
importFrom(utils, head, tail)
importFrom(grDevices, xy.coords)

export(pcfglobal, pcfcross.global, Kglobal, Kcross.global)
export(expectedPairs, expectedCrossPairs, expectedPairs_iso, expectedCrossPairs_iso)
export(expectedPairs_kernloo, expectedPairs_iso_kernloo)
