import(spatstat.geom,spatstat.core,spatstat.linnet,spatstat.utils)
import(rpanel,tcltk,stats,graphics,grDevices,utils,methods)

# Export all names
exportPattern("^[[:alpha:]]+")

# Methods 
S3method("iplot", "ppp")
S3method("iplot", "layered")
S3method("iplot", "linnet")
S3method("iplot", "lpp")
S3method("iplot", "default")
