import(stats)
import(grDevices)
import(graphics)
import(np)
import(moments)
import(nor1mix)
importFrom(splines, bs)
importFrom(Matrix, bdiag)
importFrom(lattice, xyplot, panel.xyplot, ltext, strip.custom)
importFrom(parallel, mclapply, makePSOCKcluster, clusterSetRNGStream, parLapply, stopCluster)
importFrom(MASS, mvrnorm)
import(pbivnorm, pbivnorm)
export(cROCData, pooledROC.BB, pooledROC.emp, pooledROC.kernel, pooledROC.dpm, AROC.bnp, AROC.kernel, AROC.sp, cROC.bnp, cROC.kernel, cROC.sp, 
compute.threshold.pooledROC, compute.threshold.AROC, compute.threshold.cROC, plot.pooledROC, plot.AROC, plot.cROC, predictive.checks, print.pooledROC, summary.pooledROC, print.AROC, summary.AROC, print.cROC, summary.cROC, pauccontrol, densitycontrol, densitycontrol.aroc, mcmccontrol, priorcontrol.bnp, priorcontrol.dpm)
S3method(print, pooledROC)
S3method(print, summary.pooledROC)
S3method(summary, pooledROC)
S3method(print, AROC)
S3method(print, summary.AROC)
S3method(summary, AROC)
S3method(print, cROC)
S3method(print, summary.cROC)
S3method(summary, cROC)
S3method(plot, pooledROC)
S3method(plot, AROC)
S3method(plot, cROC)
S3method(predictive.checks, AROC.bnp)
S3method(predictive.checks, cROC.bnp)
importFrom(spatstat.geom,  ewcdf)
