useDynLib(stpp,.registration=TRUE)

export("animation")
export("as.3dpoints")
export("ASTIKhat")
export("is.3dpoints")
export("LISTAhat")
export("KLISTAhat")
export("PCFhat")
export("plotK")
export("plotPCF")
export("rinfec")
export("rinter")
export("rlgcp")
export("rpcp")
export("rpp")
export("sim.stpp")
export("stan")
export("stdcpp")
export("sthpcpp")
export("STIKhat")
export("gsp")
export("gte")

import(rpanel)
import(splancs)

importFrom("grDevices","chull","colorRampPalette","dev.list","dev.new","dev.off","gray","grey","heat.colors","rgb")
importFrom("graphics","axTicks","axis","box","contour","image","par","persp","plot","points","title")
importFrom("stats","dnorm","fft","median","rexp","rnorm","rpois","runif","time","dist")
importFrom("rgl","par3d","rotationMatrix","surface3d","plot3d","axis3d","aspect3d","rgl.pop","lines3d","segments3d","points3d","spheres3d")
importFrom("KernSmooth","dpik")
importFrom("plot3D","scatter3D")
importFrom("ggplot2","ggplot","aes_string","geom_point","ggtitle","geom_path","geom_line","labs","aes","scale_shape","geom_bar","theme","element_text")
importFrom("gridExtra","grid.arrange")

S3method(plot,stpp)
importFrom(spatstat.geom, "as.im")
importFrom(spatstat.geom, "verifyclass")
importFrom(spatstat.geom, "owin")
importFrom(spatstat.geom, "as.rectangle")
importFrom(spatstat.geom, "make.even.breaks")
importFrom(spatstat.geom, "inside.owin")
importFrom(spatstat.geom, "ppp")
importFrom(spatstat.geom, "bdist.points")
importFrom(spatstat.geom, "eroded.areas")
importFrom(spatstat.core, "edge.Trans")
importFrom(spatstat.core, "rMatClust")
importFrom(spatstat.geom, "area")
importFrom(spatstat.core, "bw.stoyan")
importFrom(spatstat.core, "edge.Ripley")
importFrom(spatstat.geom, "pairdist")
importFrom(spatstat.geom, "perimeter")
import(spatstat)