exportPattern(OutlierDetection)
 importFrom("stats", "cov", "dist", "mahalanobis", "pchisq", "qchisq",
               "qnorm", "quantile", "var")
    importFrom("utils", "data")
export(maha)
export(nn)
export(nnk)
export(disp)
export(dens)
export(depthout)
importFrom(depth,depth)
importFrom(ldbod,ldbod)
importFrom("stats", "density")
 importFrom("stats", "princomp")
importFrom(plotly,plot_ly)

import(ggplot2)
importFrom(spatstat.core, CDF)
import(spatstat)