## compiled code
useDynLib(idar, .registration = TRUE)

# Export regular functions
export("controldis","envelope4idar","ifdar","ipscar","ipsear","ipsim","ipsimlist","ipsrar","ipsvar","isar","LF.gof","localdar","midar","mitable","pisar","proportion.idar","plot.pidar","risar","simulador2", "checktraits", "checktree","multifocalsimulator")

# imports
import(spatstat.geom,spatstat.core,spatstat.linnet,spatstat,FD,picante)
importFrom("ape", "is.ultrametric")
importFrom("ape", "vcv.phylo")
# ToDo: "importFrom" only required functions 

## Registration of S3 methods
import(stats)
import(graphics)
S3method(plot, pidar)
